MONGODB_URI=mongodb://localhost:27017/blogging_app
MONGODB_DATABASE=blogging_platform

ENVIRONMENT=dev

API_VERSION=1.0.0

SERVER_URI=http://localhost:8080

API_DOCS_ENABLED=true
SWAGGER_UI_ENABLED=true